# ==========================================================
# Environment
# ==========================================================
.env
.env.*
!.env.example

# ==========================================================
# Python
# ==========================================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# ==========================================================
# Flutter
# ==========================================================
.dart_tool/
.packages
.pub/
build/

# ==========================================================
# IDEs
# ==========================================================
.vscode/
.idea/

# ==========================================================
# OS
# ==========================================================
.DS_Store
Thumbs.db

# ==========================================================
# Logs
# ==========================================================
*.log

# ==========================================================
# Databases
# ==========================================================
*.sqlite
*.db
*.db-wal
*.db-shm