# ==========================
# Environment
# ==========================
.env
.env.*
!.env.example

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# ==========================
# Flutter
# ==========================
.dart_tool/
.packages
.pub/
build/

# ==========================
# VSCode
# ==========================
.vscode/

# ==========================
# IntelliJ / Android Studio
# ==========================
.idea/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Windows
# ==========================
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# SQLite
# ==========================
*.sqlite
*.db
*.db-wal
*.db-shm